# ====================================================================
# ARCHIVOS DE SISTEMA Y GENERALES
# ====================================================================
.DS_Store
Thumbs.db
*.tmp
*.temp
*.log

# ====================================================================
# EDITORES / IDEs
# ====================================================================
.idea/
.vs/
*.user
*.suo
*.userprefs
*.dbmdl
*.sublime-workspace
*.sublime-project
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json

# ====================================================================
# VARIABLES DE ENTORNO Y SECRETOS (GENERAL)
# ====================================================================
.env
.env.*
!.env.example
secrets.json
local.settings.json

# ====================================================================
# 1. .NET (Backend)
# ====================================================================
[Bb]in/
[Oo]bj/
out/
packages/
*.nupkg
*.snupkg
project.lock.json
project.assets.json
appsettings*.Development.json
appsettings*.Local.json
TestResults/
BenchmarkDotNet.Artifacts/
*.codecov
*.coverage
dotCover/

# ====================================================================
# 2. ANGULAR (Frontend)
# ====================================================================
node_modules/
dist/
dist-server/
.angular/cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
cypress/videos/
cypress/screenshots/
coverage/

# ====================================================================
# 3. FLUTTER (Mobile)
# ====================================================================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/**/generated/
**/android/**/*.apk
**/android/**/*.aab

# iOS & macOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/macos/Pods/
**/macos/.symlinks/
*.xcworkspace
xcuserdata/

# Claves de firma y credenciales móviles
*.keystore
*.jks
*.p12
key.properties
google-services.json
GoogleService-Info.plist

# ====================================================================
# 4. BASE DE DATOS & AZURE
# ====================================================================
*.dacpac
*.bacpac
*.bak
*.trn
*.ldf
*.mdf
.azuredatastudio/
*.sqlsuo
*.sqluser
*.connections.json
*.publish.xml
connectionStrings.local.config
*.sql.generated
dump/
data/